.navbar-toggler {
    border: none !important;
}

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #B6B6B6;
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
}

.navbar-toggler {
    border: none !important;
    background: transparent !important;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

h1,
h2,
h3,
h4,
h5,
h6,
display-1,
display-2,
display-3,
display-4,
display-5,
display-6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    src: local('Sans');
    src: local('Verdana'), local('Arial'), local(sans-serif); 
}

* {
    font-family: 'Nunito', sans-serif;
    font-display: swap;
    src: local('Sans');
    src: local('Verdana'), local('Arial'), local(sans-serif); 
}

a {
    color: #00d1b2;
    font-weight: bold;
}

a:hover {
    color: #00B899;
}

/* chrome */
::-webkit-scrollbar {
    width: 12px;
    background: #222;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #212529;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
}

/* firefox */
html {
    scrollbar-color: rgba(255, 255, 255, .3) #212529;
}